<!DOCTYPE html>
<html>

<head>
    <title>Markiga Careers</title>
    <link rel="icon" type="image" href="{{ url_for('static', filename='images/Markiga_logo.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <img class="img-fluid" id="banner" src="{{url_for('static', filename='images/banner.jpeg')}}">
        <h2 class="text-center mt-2 mb-4"> About Markiga</h2>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus fugit fugiat porro vel
            totam veniam nisi
            laudantium. Fugiat, vitae explicabo. Accusantium minima illum, quae nostrum laudantium animi qui neque
            possimus, id velit exercitationem! Placeat voluptatum distinctio repudiandae doloremque enim quas quam?
            Explicabo neque laudantium tempore vero fugiat rem inventore magni.</p>
        <h2 class="text-center mt-2 mb-4"> Job Openings</h2>
        <div>
            {% for job in jobs%}
            {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact us</button>
            <p class="mt-4">Copyright 2026, Markiga</p>
        </div>
    </div>
</body>

</html>